<nav>
    <div class="humberguer" ng-click="vm.funOpen()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="nav-links" ng-class="{ open: vm.open }">
       <li><a class="link" href="#">Kanto</a></li>
       <li><a class="link" href="#">Johto</a></li>
       <li><a class="link" href="#">Hoenn</a></li>
       <li><a class="link" href="#">Sinnoh</a></li>
       <li><a class="link" href="#">Unova</a></li>
       <li><a class="link" href="#">Kalos</a></li>
       <li><a class="link" href="#">Alola</a></li>
    </ul>
</nav>
