<nav>
    <div class="humberguer" ng-click="vm.funOpen()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="nav-links" ng-class="{ open: vm.open }">
       <li><a class="link" ng-click="vm.funOpen()" ui-sref="listaPokemon">Kanto</a></li>
       <li><a class="link" ng-click="vm.funOpen()" href="#">Johto</a></li>
       <li><a class="link" ng-click="vm.funOpen()" href="#">Hoenn</a></li>
       <li><a class="link" ng-click="vm.funOpen()" href="#">Sinnoh</a></li>
       <li><a class="link" ng-click="vm.funOpen()" href="#">Unova</a></li>
       <li><a class="link" ng-click="vm.funOpen()" href="#">Kalos</a></li>
       <li><a class="link" ng-click="vm.funOpen()" href="#">Alola</a></li>
    </ul>
</nav>
